{% extends "layout.html"%}

{%block body%}

{% set filter_params = {}%}
{% for key, value in request.args.items() %}
    {% if key != 'page' %}
        {% set _ = filter_params.__setitem__(key, value)%}
    {% endif %}
{% endfor %}



<div id="history-table" class="table-responsive">
<form class="form" id="history-search-form" action="/user/history">
    <b>Search:</b>
    <br />
    <div class="form-row align-items-center" >
        <div class="col">
            <input name="tool_name" type="text" class="form-control" placeholder="Tool name" value={{filter_params.get("tool_name", '')}}>
        </div>
        <div class="col">
            <input name="input_info" type="text" class="form-control" placeholder="Input info" value={{filter_params.get("input_info", '')}}>
        </div>
        <div class="col">
            <input name="input_file" type="text" class="form-control" placeholder="Input files" value={{filter_params.get("input_files", '')}}>
        </div>
        <div class="col">
            <input name="result_info" type="text" class="form-control" placeholder="Result info" value={{filter_params.get("result_info", '')}}>
        </div>
        <div class="col">
            <input name="result_file" type="text" class="form-control" placeholder="Result files" value={{filter_params.get("result_info", '')}}>
        </div>
        <div class="col" :last-child>
            <input name="error" type="text" class="form-control" placeholder="Errors" value={{filter_params.get("error", '')}}>
        </div>
    </div>
    <input type="submit" value="Submit" style="display: none;">
</form>
<div id="alert-box" class=""></div>
<table id="user-history" class="table table-hover table-bordered">

    <thead style="background-color: #007bff; color: white; text-align: center;">
        <tr>
            <th scope="col" class="align-middle">Task ID</th>
            <th scope="col" class="align-middle">Tool name</th>
            <th scope="col" class="align-middle">Input info</th>
            <th scope="col" class="align-middle">Input files</th>
            <th scope="col" class="align-middle">Result info</th>
            <th scope="col" class="align-middle">Result files</th>
            <th scope="col" class="align-middle">Error</th>
        </tr>
    </thead>
    <tbody>
    {% for task in task_history_content %}
        {% if task.error is not none %}
        <tr class="table-danger">
        {% elif task.ready == false %}
        <tr class="table-warning task-not-ready">
        {% else %}
        <tr>
        {% endif %}
            <th scope="row">{{task.task_id}}</th>
            <td><a href="{{ task.tool_url }}">{{ task.tool_name }}</a></td>
            <td>
                {% if task.input_info is not none %}
                    {% for name, content in task.input_info.items() %}
                    {% if name != "csrf_token" %}
                        <b>{{ name }}</b>: {{ content }}<br />
                    {% endif %}
                    {% endfor %}
                {% endif %}
            </td>
            <td>
                {% if task.input_files is not none %}
                    {% for file_url, filename, name in task.input_files.values() %}
                        <b>{{ name }}: </b><a href="{{ file_url }}">{{ filename }}</a><br />
                    {% endfor %}
                {% endif %}
            </td>
            <td>
                {% if task.result_info is not none %}
                    {% for name, content in task.result_info.items() %}
                        <b>{{ name }}</b>: {{ content }}<br />
                    {% endfor %}
                {% endif %}
            </td>
            <td>
                {% if task.result_files is not none %}
                    {% for file_url, filename, name in task.result_files.values() %}
                        <b>{{ name }}: </b><a href="{{ file_url }}">{{ filename }}</a><br />
                    {% endfor %}
                {% endif %}
            </td>
            <td>
            {% if task.error is not none %}
                {{ task.error }}
            {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if task_history.has_prev %}
            <li class="page-item"> <a class="page-link" href="{{ url_for('user.history', page=task_history.prev_num, **filter_params) }}">Previous</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
        {% endif %}

        {% for page in task_history.iter_pages(left_edge=2, left_current=3, right_current=3, right_edge=2) %}
        {% if page %}
            {% if page != task_history.page %}
                <li class="page-item"><a class="page-link" href="{{ url_for('user.history', page=page, **filter_params) }}">{{ page }}</a></li>
            {% else %}
                <li class="page-item active"><a class="page-link" href="#">{{ page }}<span class="sr-only">(current)</span></a></li>
            {% endif %}
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#"><span class=ellipsis>…</span></a></li>
        {% endif %}
        {% endfor %}
        
        {% if task_history.has_next %}
            <li class="page-item"> <a class="page-link" href="{{ url_for('user.history', page=task_history.next_num, **filter_params) }}">Next</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
        {% endif %}
    </ul>
</nav>

</div>
    <script src="{{url_for('static', filename='js/history.js')}}"></script>
{%endblock%}