{% extends "layout.html" %}

{% block body %}

    <div class="wrapper-form">

        <form id="script-request" class="needs-validation" enctype="multipart/form-data" action="#" method="post"
              role="form" novalidate>
            <h1> {{ tool_name }}</h1>
            <br/>
            <div id="tool-description">
                <h4>Description</h4>
                {{ long_desc }}
            </div>
            <br/>

            <h4>Input settings:</h4>

            {% block form %}

            {% endblock %}
            <br/>
            <div class="text-center">
                <button id="submit-btn" type="button" class="btn btn-primary btn-lg align-self-center"
                        onclick="toggleModal()">Execute script
                </button>
            </div>
        </form>
    </div>

    <script>
        $("input[type=file]").each(function (formField) {
            let labelElement = '<label class="custom-file-label" for="' + $(this).attr('id') + '">Choose file</label>';
            $(this).parent().before($(this).parent().children('label'));
            $(this).parent().addClass("custom-file");
            $(this).parent().append(labelElement);
            $(this).addClass("custom-file-input");
        });
        $(".custom-file-input").on("change", function () {
            let fileNames = [];
            Array.from($(this)[0].files).forEach(file => {
                fileNames.push(file.name)
            });
            $(this).siblings(".custom-file-label").addClass("selected").html(fileNames.join(', '));
        });
    </script>

    {% include 'progress.html' %}
{% endblock %}