{% extends "layout.html"%}

{%block body%}
  <div class="wrapper-form">
    <form id="sign-in" class="form-signin" action="login" method="POST">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
          <div class="notification is-danger">
              {{ messages[0] }}
          </div>
      {% endif %}
      {% endwith %}
      <img id="ladder-logo" src="static/img/google_logo.png" class="center" style="width:25%"><br />
      <h2 style="text-align:center; font-weight:bold;">Script Center</h2>
      <p style="text-align: center">Please log in with your <b>google</b> account.</p>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Log in via Google</button>   
    </form>
  </div>
{%endblock%}